[*.cs]

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# IDE0301: Simplify collection initialization
dotnet_diagnostic.IDE0301.severity = none

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# IDE0054: Use compound assignment
dotnet_diagnostic.IDE0054.severity = none

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE0066: Convert switch statement to expression
dotnet_diagnostic.IDE0066.severity = none

# IDE0074: Use compound assignment
dotnet_diagnostic.IDE0074.severity = none

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none

# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = none

# SYSLIB1054: Use 'LibraryImportAttribute' instead of 'DllImportAttribute' to generate P/Invoke marshalling code at compile time
dotnet_diagnostic.SYSLIB1054.severity = none

# CA2101: Specify marshaling for P/Invoke string arguments
dotnet_diagnostic.CA2101.severity = none

# CA1866: Use char overload
dotnet_diagnostic.CA1866.severity = none

# CA1845: Use span-based 'string.Concat'
dotnet_diagnostic.CA1845.severity = none
